*{
	margin: 0px; 
	padding: 0px;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	width: 100%;
}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,
.col-9,.col-10,.col-11,.col-12{
	float: left;
	margin: 0.5% 0.5% 0 0.5%;
	min-height: 50px;
	background-color: rgba(200,0,0,0.5);
	text-align: center;
	line-height: 50px;
	color: white;
	font-weight: bolder;
}

.col-1{
	width: 7.333%;
}
/* col-1 * 2 + 1.0 */
.col-2{
	width: 15.666%;
}
/* col-1 * 3 + 2 */
.col-3{
	width: 23.999%;
}
/* col-1 * 4 + 3 */
.col-4{
	width: 32.332%;
}
/* col-1 * 5 + 4 */
.col-5{
	width: 40.665%;
}
/* col-1 * 6 + 5 */
.col-6{
	width: 48.998%;
}